In [22]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

In [23]:
url = 'mongodb://mongodb:27017/airlines.flys'

In [24]:
spark = (SparkSession
         .builder
         .master('local[*]')
         .config('spark.driver.extraClassPath','path_to_jars/*')
         .config("spark.mongodb.read.connection.uri",url)
         .config("spark.mongodb.write.connection.uri", url)
         .getOrCreate()
         )

In [25]:
df = spark.read.json("airlines.json")

In [26]:
df = df.drop("id","alias", "_corrupt_record")

In [27]:
df = df.na.drop()

In [28]:
df.show()

+------+---------------+--------------+----+----+--------------------+
|active|       callsign|       country|iata|icao|                name|
+------+---------------+--------------+----+----+--------------------+
|     Y|               |              |   -| N/A|      Private flight|
|     N|        GENERAL| United States|    | GNL|         135 Airways|
|     Y|        NEXTIME|  South Africa|  1T| RNX|       1Time Airline|
|     N|               |United Kingdom|    | WYT|2 Sqn No 1 Elemen...|
|     N|               |        Russia|    | TFU|     213 Flight Unit|
|     N| CHKALOVSK-AVIA|        Russia|    | CHD|223 Flight Unit S...|
|     N|     CARGO UNIT|        Russia|    | TTF|   224th Flight Unit|
|     N|   CLOUD RUNNER|United Kingdom|    | TWF|         247 Jet Ltd|
|     N|        SECUREX| United States|    | SEC|         3D Aviation|
|     Y|       MILE-AIR| United States|  Q5| MLA|         40-Mile Air|
|     N|        QUARTET|      Thailand|    | QRT|              4D Air|
|     N|          DONUT|        Canada|    | THD|611897 Alberta Li...|
|     Y|         ANSETT|     Australia|  AN| AAA|    Ansett Australia|
|     Y|               |     Singapore|  1B|    |Abacus International|
|     N|            ABG|       Belgium|  W9| AAB|     Abelag Aviation|
|     N|        ARMYAIR|United Kingdom|    | AAC|      Army Air Corps|
|     N|        SUNRISE|        Canada|    | AAD|Aero Aviation Cen...|
|     N|         ASEISA|        Mexico|    | SII|Aero Servicios Ej...|
|     N|         BINIZA|        Mexico|    | BZS|         Aero Biniza|
|     N|ALBATROS ESPANA|         Spain|    | ABM|       Aero Albatros|
+------+---------------+--------------+----+----+--------------------+
only showing top 20 rows

In [29]:
df.write.format("mongodb").mode("append").save()