In [3]:
#pip install pymongo

In [1]:
import pymongo
import json
import pandas as pd

### 1. Crear Dataframe

In [2]:
df = pd.read_json('airlines.json')

In [3]:
df = df.drop(['id', 'alias'], axis=1)

In [4]:
df

,name,iata,icao,callsign,country,active
0,Private flight,-,N/A,,,Y
1,135 Airways,,GNL,GENERAL,United States,N
2,1Time Airline,1T,RNX,NEXTIME,South Africa,Y
3,2 Sqn No 1 Elementary Flying Training School,,WYT,,United Kingdom,N
4,213 Flight Unit,,TFU,,Russia,N
...,...,...,...,...,...,...
6060,Indonesia AirAsia X,XT,IDX,RED PHOENIX,Indonesia,Y
6061,Qatar Executive,QE,QQE,QREX,Qatar,Y
6062,SF Airlines,O3,CSS,SHUN FENG,China,Y
6063,Regent Airways,RX,RGE,REGENT,Bangladesh,Y
6064,AsiaCargo Express,3G,CXM,ASIA CARGO,Malaysia,Y

### 2. Enviar a MongoDB

In [8]:
client = pymongo.MongoClient("mongodb://mongodb:27017/")

In [9]:
db = client["airlines"]["flys"]

In [10]:
db.insert_many(df.to_dict('records'))